<div class="listing-form">
  //<!-- TODO:  -->
  {{ $ctrl }}
  <form ng-submit="$ctrl.handleSubmit($ctrl.profile, $ctrl.listing)" novalidate>
    <input type="text" ng-model="$ctrl.listing.product" placeholder="title">
    <input type="text" ng-model="$ctrl.listing.desc" placeholder="desc">
    <input type="number" ng-model="$ctrl.listing.price" placeholder="100">
    <input type="text" ng-model="$ctrl.listing.zipCode" placeholder="98121">
    <button type="submit">Submit Listing</button>
    <!-- photo upload goes here -->
    <div class="file-select"
    ngf-select
    ng-model="$ctrl.photo.file">
      Select File
    </div>

    <button type="button"> Upload </button>
  </form>
</div>
