@import  "../../scss/_theme.scss";
.header {
  background: $c-greylight;
  width: 100%;
}
.logo {
  margin-left: $s-margin-left;
  margin-right: $s-margin-right;
  width: 80%;
}
.navbar {
  height: 10%;
  box-sizing: border-box;
}
