@import  "../../scss/_theme.scss";
.page-header {
  background: $c-dkblue;
  width: 100%;
  margin: 0;
  padding: $s-pad;
  .logo {
    margin-left: $s-margin-left * 10;
  }
  .navbar {
    background: $c-ltblue;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
