@import  "../../scss/_theme.scss";

.dash-nav {
  background: $c-grey;
  margin-left: 0;
  .nav {
    ul {
      list-style: none;
    }
    li {
      margin-left: $s-margin-left;
    }
  }
  a {
    color: $c-greylight;
  }
  a:hover {
    color: $c-greydark;
  }
}
