@import  "../../scss/_theme.scss";

.dash-nav {
  background: $c-ltblue;
  margin-left: 0;
  height: 500px;

  .nav {
    ul {
      list-style: none;
    }
    li {
      margin-left: $s-margin-left;
    }
  }
  li > a {
    color: $c-dkorange;
  }
  li > a:hover {
    color: $c-ltorange;
    background: $c-dkblue;
  }
}
