@import  "../../scss/_theme.scss";

.main-nav {
  width: 100%;
  .nav {
    ul {
      list-style: none;
    }
    li {
      margin-left: $s-margin-left;
      display: inline-block;
    }
  }
  li > a {
    color: $c-dkorange;
  }
  li > a:hover {
    color: $c-orange;
    background: $c-ltblue;
  }

}
