@import  "../../scss/_theme.scss";

.main-nav {
  width: 100%;
  .nav {
    ul {
      list-style: none;
    }
    li {
      margin-left: $s-margin-left;
      display: inline-block;
    }
  }
  a {
    color: $c-grey;
  }
  a:hover {
    color: $c-greydark;
  }
}
