@import  "../../scss/_theme.scss";

.search {
  padding: $s-pad;
  box-sizing: border-box;
}
.input-group-btn {
}
.glyphicon {
  margin-right: $s-margin-right;
  color: $c-greylight;
  .glyphicon-search {
  }
}
.search-input {
  padding: $s-pad;
}
