@import  "../../scss/_theme.scss";

.search {
  padding: $s-pad;
  box-sizing: border-box;
}
.input-group-btn {
  .btn {
    background: $c-dkblue;

  }
  .btn-default:hover {
    background: $c-ltblue;
  }
}
.glyphicon {
  margin-right: $s-margin-right;
  color: $c-dkorange;
  .glyphicon-search {
  }
}
.search-input {
  padding: $s-pad;
}
