<div class="container">
  <h3>Insert Credit Card Info </h3>
  <form ng-submit="$ctrl.makePayment(card)" name="ccForm">
    <div class="form-group">
      <label for="card-number">Card Number</label>
      <input type="text" class="form-control" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="card.number">
    </div>
    <table class="table">
      <tr>
        <th>Valid</th>
        <th>Eager Type</th>
        <th>Type</th>
      </tr>
      <tr>
        <td>
          {{ccForm.ccNumber.$valid | yesNo}}
        </td>
        <td>
          {{ccForm.ccNumber.$ccEagerType || 'Unknown'}}
        </td>
        <td>
          {{ccForm.ccNumber.$ccType || 'Unknown'}}
        </td>
      </tr>
    </table>
    <div class="form-group">
      <label for="cvc">CVC</label>
      <input type="text" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc">
    </div>
    <table class="table">
      <tr>
        <th>Valid</th>
      </tr>
      <tr>
        <td>
          {{ccForm.ccCvc.$valid | yesNo}}
        </td>
      </tr>
    </table>
    <div class="form-group">
      <label for="card-number">Expiration</label>
      <div class="row" cc-exp>
        <div class="col-md-3">
          <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.exp_month">
        </div>
        <div class="col-md-3">
          <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.exp_year">
        </div>
      </div>
    </div>
    <table class="table">
      <tr>
        <th>Valid Month</th>
        <th>Valid Year</th>
        <th>Valid Pair</th>
      </tr>
      <tr>
        <td>
          {{ccForm.ccExpMonth.$valid | yesNo}}
        </td>
        <td>
          {{ccForm.ccExpYear.$valid | yesNo}}
        </td>
        <td>
          {{!ccForm.$error.ccExp | yesNo}}
        </td>
      </tr>
    </table>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
